/* Projects Component Styles */
.projects-container {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  max-width: 70rem;
  margin: 0 auto;
}

.projects-title {
  font-size: 1.5rem;
  font-weight: 700;
  color: #111827;
}

.projects-grid {
  display: grid;
  grid-template-columns: 1fr; /* Single column */
  gap: 2rem; /* Space between cards */
}

@media (max-width: 768px) {
  .projects-grid {
    grid-template-columns: 1fr; /* Single column on small screens */
  }
}

/*
@media (prefers-color-scheme: dark) {
  .projects-title {
    color: white;
  }
}
*/
